[submodule ".registry"]
	path = .registry
	url = https://github.com/jesse-smith/jesse-smith.r-universe.dev
	branch = HEAD
[submodule "dmhct"]
	path = dmhct
	url = https://github.com/jesse-smith/dmhct
